*{
    box-sizing: border-box;
    font-family: 'Cursed Timer ULiL', sans-serif;

}
body {
    margin: 0;
    background-color: #1B244A;
}

h1 {
    color: #F94F6D;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container h3{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}

.score-bg{
    border-radius: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: black ;
    height: 120px;
    width: 155px;
    font-size: 5rem;
    margin: 1rem;
    border: 1px solid #F94F6D;
    box-shadow: 0 0 10px #F94F6D;
}

.score-bg p{  
    margin: 0;
    text-align: center;
    padding: 1rem;
    color: #F94F6D;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 5px;
    background-color: transparent;
    color: #9AABD8;
    border: 1px solid;
    margin: 10px 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.btn p{
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 8px 5px;
}

.btn:hover{
    background-color: #F94F6D;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #F94F6D;
}

.container-2 {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 4rem;
}

.btn-reset{
    background-color: #f94f6e9d;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem 0;
}   

.btn-reset:hover{
    background-color: #F94F6D;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #F94F6D;
}

.faults{
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 8px 5px;
    color: white;
    text-align: center;
}

.faults-1 p{
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 8px 5px;
    color: white;
    text-align: center;
}

.btn-faults{
    background-color: transparent;
    color: #9AABD8;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    font-size: 1.5rem;
    font-family: 'Cursed Timer ULiL', sans-serif;
    cursor: pointer;
    margin: 1rem 2.5rem;
}

.btn-faults:hover{
    background-color: #F94F6D;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #F94F6D;
}

/* Clase para resaltar al que va ganando */
.leader {
    box-shadow: 0 0 30px #bdff00; /* Mucho brillo verde */
    border: 2px solid #bdff00;    /* Borde verde */
    transition: all 0.3s ease;    /* Que el cambio sea suave */
}

/* Y hacemos que el número de adentro también se ponga verde */
.leader p {
    color: #bdff00;
}